

.Home {

    flex-direction: column;

    .inicial {
        padding-left: 50px;
        height: 500px;
        display: flex;
        flex-direction: column;
        background-image: url(../../public/assets/img/inicial.png);
        background-size: 530px;
        background-position: bottom right;
        background-repeat: no-repeat;
        max-width: 100vw;

        h1 {
            display: flex;
            position: relative;
            top: 50px;
            right: 270px;
            font-size: 60px;
            max-width: 900px;
            justify-content: center;
        }

        h5 {
            display: flex;
            justify-content: flex-end;
            position: relative; 
            bottom: 45px;
            right: 280px;
            font-size: 30px;
            color: #2B75CB;
            max-width: 800px;
        }

        p {
            display: flex;
            justify-content: center;
            position: relative;
            left: 30px;
            max-width: 400px;
            bottom: 100px;
            text-align: left;
            font-family: Quicksand;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        button {
            display: flex;
            justify-content: center;
            width: 150px;
            height: 40px;
            border-radius: 20px;
            border: none;
            background-color: #2B75CB;
            color: #fff;
            align-items: center;
            position: relative;
            left: 120px;
            bottom: 100px;
        }
    }

    .marcas {
        background-color: #A3CDFF;
        max-width: 100vw;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-around;


        img {

            width: 50px;
        }

    }

    .faixas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100vw;

        .azul {
            height:470px ;
            padding: 20px;
            border-radius: 15px;
            margin-top: 40px;
            background-color: #A3CDFF;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                height: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    color: #2B75CB;
                    margin-top: 60px;
                }

                button {
                    margin-top: 80px;
                    border: none;
                    height: 40px;
                    width: 180px;
                    color: white;
                    background-color: #2B75CB;
                    padding: 10px 20px;
                    border-radius: 15px;
                }

                p {
                    font-weight: 600;
                    font-size: 18px;
                    width: 400px;
                    text-align: center;
                }

                img {
                    width: 450px;
                }
            }
        }
        
        .internas{
                
            height:470px ;
            padding: 20px;
            border-radius: 15px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-image: url(../../public/assets/img/tintainternas.jpeg);
            background-repeat: no-repeat;
            background-position: cover;
            width: 900px;
        
                div {
                    height: 500px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
        
                    h1 {
                        color: #2B75CB;
                        font-size: 36px;
                    }
        
                    button {
                        margin-top: 80px;
                        border: none;
                        height: 40px;
                        width: 180px;
                        color: white;
                        background-color: #2B75CB;
                        padding: 10px 20px;
                        border-radius: 15px;
                    }
        
                    p {
                        font-weight: 600;
                        font-size: 18px;
                        width: 400px;
                        text-align: center;
                    }
        
                }
        }

        .externas{
                
            height:470px ;
            padding: 20px;
            border-radius: 15px;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-image: url(../../public/assets/img/tintaexterna5.jpg);
            background-repeat: no-repeat;
            background-position: cover;
            width: 900px;
        
                div {
                    height: 500px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
        
                    h1 {
                        color: #2B75CB;
                        font-size: 36px;
                    }
        
                    button {
                        margin-top: 80px;
                        border: none;
                        height: 40px;
                        width: 180px;
                        color: white;
                        background-color: #2B75CB;
                        padding: 10px 20px;
                        border-radius: 15px;
                    }
        
                    p {
                        font-weight: 600;
                        font-size: 18px;
                        width: 400px;
                        text-align: center;
                    }
        
                }
        }
        
        .grafite{
            
            height:470px ;
            padding: 20px;
            border-radius: 15px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            background-image: url(../../public/assets/img/g.webp);
            background-repeat: no-repeat;
            background-position: cover;
            width: 900px;
        
                .grafit {
                    
                    height: 500px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    bottom: 60px;
                    gap: 30px;
                    
                    .lata{
                        height: 200px;
                        position: relative;
                        bottom: 60px;
                    }

                    .g{
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        bottom: 50px;

                        h1 {
                            color: #2B75CB;
                            font-size: 36px;
                        }

                        button {
                           
                            border: none;
                            height: 40px;
                            width: 180px;
                            color: white;
                            background-color: #2B75CB;
                            padding: 10px 20px;
                            border-radius: 15px;
                        }
            
                        p {
                            font-weight: 600;
                            font-size: 18px;
                            
                            text-align: left;
                        }
                    }

                    .adesivo{
                        height: 150px;
                        position: relative;
                        bottom: 60px;
                       
                    }
                }
                .p{
            
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    align-items: center;
                    justify-content: flex-start;
                    color: #ffffff;
                    font-size:20px;
                    font-weight: 800;
                    position:relative;
                    top: 35px;

                }
        
        }

        

       
    }
}