.caixinha{
    margin-top: 20px;
}



.Nomecompleto{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.Sexo{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.Datadenascimento{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.CPF{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.Seutelefone{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}


.Tipodeendereço{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.CEP{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.N°ecomplemento{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.Nomedarua{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.Bairro{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.Cidade{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}


.Estado{
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}


  
  